.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.top {
  float: right;
  color: salmon;
  padding-bottom: 20px;
  padding-right: 20px;
  list-style-type: none;
  font-size: 18px;

}

.jumbotron {
  background-color: #9fe3ea;
  color: white;
}
a:link {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: salmon;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: salmon;
    background-color: transparent;
    text-decoration: none;
}
.descrip {
  font-size: 15px;
  color: #9fcfea;
}
.title {
  color: #5b8fad;
}
.list {
  color: pink;
  list-style-type: none;
  font-size: 25px;
}
.image {
  margin: 30px;
}
