body {
  text-align: center;
  margin: 750px;
}

.top {
  float: right;
  color: salmon;
  padding-bottom: 20px;
  padding-right: 20px;
  list-style-type: none;
  font-size: 18px;
}

.jumbotron {
  text-align: left;
  background-color: #9fe3ea;
  color: white;
}
a:link {
    color: salmon;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: salmon;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
.well {
  background-color: auto;
  margin: 20px;
}
.descrip {
  font-size: 15px;
  color: #9fcfea;
  margin:20px;
}
.title {
  color: #5b8fad;

}
.list {
  color: #f29dc6;
  list-style-type: none;
  font-size: 25px;
  text-align: left;
}
.different {
  color: #9da7f2;
  font-family: fantasy;
}
.image {
  margin: 30px;
}
@media screen and (min-width: 768px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
  }
}
